.heading{
    color: white;
    font-size: 30px;
    width:100%;
    margin:0%;
}

.note{
    color:black;
    font-size: 15px;
}

.guitar{
    border-radius: 10px;
    font-size: 23px;
}

body{
    text-align: center;
}